<div class="row">
   <div class="col">
       <button type="submit" class="btn btn-outline-dark form-control">Create</button>
   </div>
     <div class="col">
        <a asp-action="Index" class=" btn btn-outline-dark btn-primary form-control">Back to list</a>
    </div>
</div>