<div class="row">
    <div class="col-9">
        <h2 class="text-primary text-decoration-underline">Category</h2>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-dark"><i class="fa fa-tty"></i>New Category</a>
    </div>
</div>
<div class="border p-2 m-2">
    <table id="tbldata" class="table table-active table-bordered table-striped table-light">
        <thead>
            <tr>
                <th class="text-center text-decoration-underline text-primary"><i>Name</i></th>
                <th class="text-center text-decoration-underline text-danger"><i>Actions</i></th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{
    <script src="~/js/Category.js"></script>
}
