<div class="row">
    <div class="col-10">
        <h2 class="text-primary text-center">
            <i class="fas fa-shopping-cart"></i>&nbsp;Approved Orders
        </h2>
    </div>
    <partial name="_ShowingOrdersByStatus" />
</div>